.version.index /* version checker */
{
	color: #000008;
	background-color: #555294;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 1499.9499999999998px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 35px;
}

#ppu324
{
	width: 0.01px;
	margin-left: -100px;
}

#pu324
{
	width: 0.01px;
	margin-right: -10000px;
}

#pu324_position_content
{
	margin-bottom: -14px;
	padding-top: 98px;
}

#u324
{
	z-index: 255;
	height: 84px;
	border-color: #000000;
	background-color: #4F5D73;
}

#u324-bw
{
	z-index: 255;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -36px;
}

#u369-4
{
	z-index: 260;
	width: 167px;
	min-height: 27px;
	background-color: transparent;
	font-size: 20px;
	color: #FFFFFF;
	text-align: center;
	position: fixed;
	top: -4px;
	left: -38px;
}

#u378-4
{
	z-index: 268;
	width: 167px;
	min-height: 27px;
	background-color: transparent;
	font-size: 20px;
	color: #FFFFFF;
	text-align: center;
	position: fixed;
	top: -5px;
	left: 80px;
}

#u377-4
{
	z-index: 264;
	width: 167px;
	min-height: 27px;
	background-color: transparent;
	font-size: 20px;
	color: #FFFFFF;
	text-align: center;
	position: fixed;
	top: -5px;
	left: 224px;
}

#u380-4
{
	z-index: 276;
	width: 200px;
	min-height: 27px;
	background-color: transparent;
	font-size: 20px;
	color: #FFFFFF;
	text-align: center;
	position: fixed;
	top: -5px;
	left: 391px;
}

#u379-4
{
	z-index: 272;
	width: 167px;
	min-height: 27px;
	background-color: transparent;
	font-size: 20px;
	color: #FFFFFF;
	text-align: center;
	position: fixed;
	top: -5px;
	left: 579px;
}

#u378-4.MuseLinkActive,#u377-4.MuseLinkActive,#u380-4.MuseLinkActive,#u379-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	margin: 0px;
}

#u378-4.MuseLinkActive p,#u377-4.MuseLinkActive p,#u380-4.MuseLinkActive p,#u379-4.MuseLinkActive p
{
	color: #7F7F7F;
	visibility: inherit;
}

#phome
{
	width: 0.01px;
	margin-left: 783px;
	margin-top: -84px;
}

#home
{
	margin-left: 226px;
	position: relative;
}

#u511-4
{
	z-index: 285;
	width: 235px;
	min-height: 32px;
	background-color: transparent;
	font-size: 24px;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u368-4
{
	z-index: 256;
	width: 235px;
	min-height: 32px;
	background-color: transparent;
	font-size: 24px;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	margin-left: 783px;
	top: -42px;
	margin-bottom: -32px;
	position: relative;
}

#pamphletu145
{
	z-index: 3;
	width: 0.01px;
	height: 497px;
	margin-left: 20px;
	margin-top: 29px;
	position: relative;
}

#u155
{
	z-index: 4;
	width: 41px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 487px;
	left: 880px;
}

#u157
{
	position: absolute;
	width: 9px;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #86A106;
	background-color: #FFFFFF;
}

#u157:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #C5ED0B;
	width: 10px;
	height: 10px;
	min-height: 1px;
	margin: 0px 1px 1px 0px;
}

#u158
{
	position: absolute;
	width: 9px;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #86A106;
	background-color: #FFFFFF;
	left: 15px;
}

#u158:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #C5ED0B;
	width: 10px;
	height: 10px;
	min-height: 1px;
	margin: 0px 1px 1px 0px;
}

#u156
{
	position: absolute;
	width: 9px;
	height: 9px;
	border-width: 1px;
	border-style: solid;
	border-color: #86A106;
	background-color: #FFFFFF;
	left: 30px;
}

#u156:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #C5ED0B;
	width: 10px;
	height: 10px;
	min-height: 1px;
	margin: 0px 1px 1px 0px;
}

#u157.PamphletThumbSelected,#u158.PamphletThumbSelected,#u156.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #86A106;
	width: 10px;
	height: 10px;
	min-height: 1px;
	margin: 0px 1px 1px 0px;
}

#u161
{
	position: absolute;
	width: 940px;
	background-color: transparent;
}

#u161popup
{
	z-index: 8;
}

#u180
{
	z-index: 9;
	width: 940px;
	height: 466px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin-right: -10000px;
	position: relative;
}

.slideshow
{
	border-style: none;
	-pie-box-shadow: 4px 4px 8px #A1A1A1;
	-moz-box-shadow: 4px 4px 8px rgba(127, 127, 127, 0.73);
	-webkit-box-shadow: 4px 4px 8px -1px rgba(127, 127, 127, 0.73);
	box-shadow: 4px 4px 8px rgba(127, 127, 127, 0.73);
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u181
{
	z-index: 10;
	width: 212px;
	height: 302px;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.4);
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 96px;
	-pie-background: rgba(255, 255, 255, 0.4);
}

#u287
{
	z-index: 11;
	width: 900px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 20px;
}

#u507
{
	z-index: 13;
	width: 272px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 648px;
}

#u171
{
	z-index: 15;
	width: 940px;
	height: 466px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin-right: -10000px;
	position: relative;
}

#u293
{
	z-index: 16;
	width: 900px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 20px;
}

#u504
{
	z-index: 18;
	width: 272px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 648px;
}

#u162
{
	z-index: 20;
	width: 940px;
	height: 466px;
	-pie-box-shadow: 6px 6px 8px #BFBFBF;
	-moz-box-shadow: 6px 6px 8px rgba(127, 127, 127, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(127, 127, 127, 0.5);
	box-shadow: 6px 6px 8px rgba(127, 127, 127, 0.5);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin-right: -10000px;
	position: relative;
}

#u164
{
	z-index: 21;
	width: 212px;
	height: 302px;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.4);
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 96px;
	-pie-background: rgba(255, 255, 255, 0.4);
}

#u299
{
	z-index: 22;
	width: 900px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 20px;
}

#u498
{
	z-index: 24;
	width: 272px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 647px;
}

#u507_img,#u504_img,#u498_img
{
	padding-bottom: 1px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#uslugi
{
	margin-left: 997px;
	top: -71px;
	margin-bottom: -18px;
	position: relative;
}

#pu331
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 78px;
}

#u331
{
	z-index: 26;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
}

#u337
{
	z-index: 28;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#u343
{
	z-index: 30;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	left: 400px;
}

#u349
{
	z-index: 32;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	left: 606px;
}

#u355
{
	z-index: 34;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	left: 812px;
}

#pu362-6
{
	width: 0.01px;
	margin-top: 29px;
}

#u362-6
{
	z-index: 36;
	width: 167px;
	min-height: 49px;
	background-color: transparent;
	font-size: 22px;
	color: #7F7F7F;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u363-6
{
	z-index: 42;
	width: 167px;
	min-height: 49px;
	background-color: transparent;
	font-size: 22px;
	color: #7F7F7F;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 200px;
}

#u364-6
{
	z-index: 60;
	width: 167px;
	min-height: 49px;
	background-color: transparent;
	font-size: 22px;
	color: #7F7F7F;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 400px;
}

#u365-6
{
	z-index: 48;
	width: 167px;
	min-height: 49px;
	background-color: transparent;
	font-size: 22px;
	color: #7F7F7F;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 606px;
}

#u366-6
{
	z-index: 54;
	width: 167px;
	min-height: 49px;
	background-color: transparent;
	font-size: 22px;
	color: #7F7F7F;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 812px;
}

#u373-4
{
	z-index: 96;
	width: 260px;
	min-height: 31px;
	background-color: transparent;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	margin-left: 360px;
	margin-top: 69px;
	position: relative;
}

#pu371-30
{
	width: 0.01px;
	margin-left: 50px;
	margin-top: 22px;
}

#u371-30
{
	z-index: 66;
	width: 880px;
	min-height: 421px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u371-2,#u371-3,#u371-23,#u371-24
{
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

#u371-5,#u371-7,#u371-9,#u371-11,#u371-13,#u371-15,#u371-17,#u371-19,#u371-20,#u371-21,#u371-26,#u371-28
{
	font-size: 18px;
	text-align: left;
}

#o_kompanii
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 394px;
	left: 930px;
}

#u376
{
	z-index: 2;
	border-color: #000000;
	padding-bottom: 40px;
	background: #E5E5E5 url("../images/4538964178-u376-fr.png") no-repeat left top;
	background-color: rgba(0, 0, 0, 0.1);
	background-size: cover;
}

#u374-40
{
	z-index: 100;
	width: 940px;
	min-height: 580px;
	background-color: transparent;
	font-size: 18px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
	left: 120px;
}

#u374-3
{
	text-align: center;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u374-3  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u374
{
	font-size: 30px;
	font-weight: bold;
}

#u374-32,#u374-36,#u374-38
{
	text-align: left;
}

#specialisti
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 790px;
	left: 1080px;
}

#u376-bw
{
	z-index: 2;
	margin-top: 39px;
	height: 808px;
}

#u397-4
{
	z-index: 140;
	width: 413px;
	min-height: 40px;
	background-color: transparent;
	font-size: 30px;
	color: #000000;
	text-align: center;
	font-weight: bold;
	margin-left: 283px;
	margin-top: 98px;
	position: relative;
}

#u398
{
	z-index: 144;
	width: 940px;
	border-color: #000000;
	background-color: #E1E2E4;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 9px;
	margin-left: 20px;
	margin-top: 52px;
	position: relative;
}

#u530
{
	z-index: 249;
	width: 132px;
	background-color: transparent;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 10px;
}

#u405-8
{
	z-index: 145;
	width: 722px;
	min-height: 65px;
	background-color: transparent;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 190px;
}

#u406
{
	z-index: 153;
	width: 940px;
	border-color: #000000;
	background-color: #E1E2E4;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 9px;
	margin-left: 20px;
	margin-top: 90px;
	position: relative;
}

#u409-8
{
	z-index: 154;
	width: 711px;
	min-height: 65px;
	background-color: transparent;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 69px;
}

#u542
{
	z-index: 253;
	width: 134px;
	background-color: transparent;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 800px;
}

#u411
{
	z-index: 162;
	width: 940px;
	border-color: #000000;
	background-color: #E1E2E4;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 8px;
	margin-left: 20px;
	margin-top: 100px;
	position: relative;
}

#u536
{
	z-index: 251;
	width: 132px;
	background-color: transparent;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 10px;
}

#u414-8
{
	z-index: 163;
	width: 722px;
	min-height: 65px;
	background-color: transparent;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 190px;
}

#u451
{
	z-index: 182;
	width: 940px;
	border-color: #000000;
	background-color: #E1E2E4;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 8px;
	margin-left: 20px;
	margin-top: 100px;
	position: relative;
}

#u452-8
{
	z-index: 183;
	width: 690px;
	min-height: 65px;
	background-color: transparent;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 69px;
}

#u524
{
	z-index: 247;
	width: 133px;
	background-color: transparent;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	-khtml-border-radius: 200px;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 800px;
}

#u530 .clip_frame,#u542 .clip_frame,#u536 .clip_frame,#u524 .clip_frame
{
	-webkit-border-radius: 200px 200px 200px 200px;
}

#u440
{
	z-index: 171;
	width: 940px;
	border-color: #000000;
	background-color: #E1E2E4;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-bottom: 11px;
	margin-left: 20px;
	margin-top: 101px;
	position: relative;
}

#u445
{
	z-index: 180;
	width: 128px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 32px;
}

#u441-8
{
	z-index: 172;
	width: 722px;
	min-height: 65px;
	background-color: transparent;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 190px;
}

#u405-2,#u409-2,#u414-2,#u452-2,#u441-2
{
	font-weight: normal;
}

#u374-11,#u374-16,#u374-21,#u374-26,#u374-34,#u405-3,#u405-4,#u409-3,#u409-4,#u414-3,#u414-4,#u452-3,#u452-4,#u441-3,#u441-4
{
	font-weight: bold;
}

#kontakti
{
	margin-left: 969px;
	margin-top: 107px;
	position: relative;
}

#pu464
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 13px;
}

#u464
{
	z-index: 191;
	border-color: #000000;
	padding-bottom: 518px;
	background: transparent url("../images/himki-u464-fr.png") no-repeat left top;
	background-size: cover;
}

#u376_align_to_page,#u464_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	position: relative;
	left: -100px;
}

#u471-10
{
	z-index: 192;
	width: 770px;
	min-height: 88px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 131px;
	left: 215px;
}

#u464-bw
{
	z-index: 191;
	height: 219px;
}

#widgetu472
{
	z-index: 202;
	width: 0.01px;
	height: 267px;
	position: relative;
	margin-right: -10000px;
	margin-top: 323px;
	left: 430px;
}

#widgetu485
{
	z-index: 203;
	width: 342px;
	height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu485.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: -1px -10000px 0px 0px;
}

#u488-4
{
	z-index: 204;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

.html,#widgetu485.non-empty-st #u488-4
{
	background-color: #FFFFFF;
}

#widgetu485:hover #u488-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu485.focus-st #u488-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu485.non-empty-st #u488-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu485:hover #u488-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu485.focus-st #u488-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu473
{
	z-index: 208;
	width: 342px;
	height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: -1px;
}

#widgetu473.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 59px -10000px 0px 0px;
}

#u476-4
{
	z-index: 209;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu473.non-empty-st #u476-4
{
	background-color: #FFFFFF;
}

#widgetu473:hover #u476-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu473.focus-st #u476-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu485.fld-err-st #u488-4,#widgetu473.fld-err-st #u476-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu473.non-empty-st #u476-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu473:hover #u476-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu473.focus-st #u476-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu485_input,#widgetu485_prompt,#widgetu473_input,#widgetu473_prompt
{
	width: 328px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#u483-4
{
	z-index: 213;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 140px;
}

#widgetu472.frm-sub-st #u483-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u477-4
{
	z-index: 217;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 140px;
}

#widgetu472.frm-subm-err-st #u477-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u478-4
{
	z-index: 221;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 1;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 140px;
}

#widgetu472.frm-sub-st #u483-4,#widgetu472.frm-subm-err-st #u477-4,#widgetu472.frm-subm-ok-st #u478-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu472.frm-subm-ok-st #u478-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u484-17
{
	z-index: 225;
	min-height: 31px;
	width: 341px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 237px;
	background: url("../images/u484-17.png") no-repeat 0px 0px;
}

#u484-17:hover
{
	background: url("../images/u484-17-r.png") no-repeat 0px 0px;
}

#u484-17:active
{
	background: url("../images/u484-17-m.png") no-repeat 0px 0px;
}

#widgetu472.frm-sub-st #u484-17
{
	background: url("../images/u484-17-fs.png") no-repeat 0px 0px;
}

#widgetu479
{
	z-index: 242;
	width: 342px;
	height: 82px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: -1px;
}

#widgetu479.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 119px -10000px 0px 0px;
}

#u481-4
{
	z-index: 243;
	width: 328px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 1;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu479.non-empty-st #u481-4
{
	background-color: #FFFFFF;
}

#widgetu479:hover #u481-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu479.focus-st #u481-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu479.fld-err-st #u481-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 0px -10000px 0px 0px;
}

#widgetu479.non-empty-st #u481-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu479:hover #u481-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu479.focus-st #u481-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu485.fld-err-st #u488-4 *,#widgetu473.fld-err-st #u476-4 *,#widgetu479.fld-err-st #u481-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu479_input,#widgetu479_prompt
{
	width: 328px;
	min-height: 68px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	padding: 6px;
}

#widgetu485:hover #widgetu485_input,#widgetu485.focus-st #widgetu485_input,#widgetu485.fld-err-st #widgetu485_input,#widgetu485:hover #widgetu485_prompt,#widgetu485.focus-st #widgetu485_prompt,#widgetu485.fld-err-st #widgetu485_prompt,#widgetu473:hover #widgetu473_input,#widgetu473.focus-st #widgetu473_input,#widgetu473.fld-err-st #widgetu473_input,#widgetu473:hover #widgetu473_prompt,#widgetu473.focus-st #widgetu473_prompt,#widgetu473.fld-err-st #widgetu473_prompt,#widgetu479:hover #widgetu479_input,#widgetu479.focus-st #widgetu479_input,#widgetu479.fld-err-st #widgetu479_input,#widgetu479:hover #widgetu479_prompt,#widgetu479.focus-st #widgetu479_prompt,#widgetu479.fld-err-st #widgetu479_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu485.non-empty-st #widgetu485_prompt,#widgetu473.non-empty-st #widgetu473_prompt,#widgetu479.non-empty-st #widgetu479_prompt
{
	visibility: hidden;
}

body
{
	position: relative;
	min-width: 980px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}